// views/bookshelves.pug
doctype html
html
  head
    title Bookshelves
  body
    h1 List of Bookshelves
    table
      thead
        tr
          th Name
          th Material
          th Shelves
      tbody
        each bookshelf in items
          tr
            td= bookshelf.name
            td= bookshelf.material
            td= bookshelf.shelves
