extends layout

block content
  h1= title
  form(id='BookShelveForm', action="/resource/bookShelves", method="POST")
    div.form-group
      label.siteAttr(for='name') Shelve Name
      input#name(type='text', name='name', required=true)
    div.form-group
      label.siteAttr(for='material') Location
      input#material(type='text', name='material', required=true)
    div.form-group
      label.siteAttr(for='shelves') Year Established
      input#shelves(type='number', name='shelves', required=true)
    input(type="submit", value="Create")

  script.
    document.forms['BookShelveForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // Show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      })
      .then((resp) => resp.json())
      .then((body) => {
        alert("Save succeeded!");
      })
      .catch((error) => {
        alert("Save failed: " + error);
      });
    });